$black: #000000;
$white: #ffffff;
$surface-pc-beige: #ece9e0;
$header-blue: #0000aa;
$workspace-off-white: #faf9f6;
$glitch-cyan: #00eaff;
$glitch-red: #ff003c;
$checkerboard-light: #dfdbd2;
$checkerboard-dark: #d5d1c8;

$font-family-main: 'Courier Prime', 'Courier New', Courier, monospace;

$window-shadow-size: 6px;
$input-shadow-size: 3px;
$border-width: 2px;
